---
import type { field } from "../../util/settings/cmsSettingsTypes.types.ts";
interface Props extends field {}

const { label, required, value } = Astro.props;
---

<div class="form-control">
  <label class="label cursor-pointer">
    <span class="label-text">{label ?? name}</span>
    <input
      required={required}
      type="checkbox"
      name={label}
      class="toggle"
      checked={value ?? false}
    />
  </label>
</div>
