---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="relative flex flex-col justify-center h-screen overflow-hidden px-6"
  >
    <div
      class="w-full p-6 m-auto bg-white rounded-md shadow-md ring-2 ring-gray-800/50 lg:max-w-lg"
    >
      <h1 class="text-3xl font-semibold text-center text-gray-700">Login</h1>
      <form class="space-y-4" id="waters-cms-login">
        <div>
          <!-- Required data-astro-reload to work with View Transitions -->
          <button
            class="btn btn-primary btn-block"
            id="login-button"
            onclick="
            login()
            "
            data-astro-reload>Login</button
          >
        </div>
      </form>
    </div>
  </div>
</Layout>
