<div class="navbar bg-base-100" transition:persist>
  <label for="my-drawer" class="lg:hidden btn-ghost btn"
    ><svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill="#000000" d="M3 18v-2h18v2H3Zm0-5v-2h18v2H3Zm0-5V6h18v2H3Z"
      ></path>
    </svg></label
  >
  <a class="px-4 font-medium normal-case text-xl">Waters CMS</a>
</div>
