---
import "../input.css";
import "../output.css";
import Navbar from "../components/Navbar.astro";
import Sidebar from "../components/Sidebar.astro";

import { ViewTransitions } from "astro:transitions";
---

<html data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
  </head>
  <div class="overflow-hidden max-h-screen">
    <Navbar />
    <Sidebar>
      <div class="max-h-screen">
        <slot />
      </div>
    </Sidebar>
  </div>
</html>
